boto
boto3
botocore
pandas
requests
scikit-learn
scipy
nltk==3.2.5 # pyup: ignore
pytest
Elasticsearch
gensim==3.6.0 # pyup: ignore
annoy
unicodecsv
us
Sqlalchemy
geocoder
psycopg2
alembic
retrying
fiona
shapely
filelock
bs4
lxml
fuzzywuzzy
python-Levenshtein
dickens
skills-utils
s3fs
dill
toolz
multiprocess
